# Ignore Python bytecode
*.py[cod]
__pycache__/

# Ignore Jupyter Notebook checkpoints and extensions
.ipynb_checkpoints/
*.nbconvert/
*.nb.html

# Ignore Jupyter configuration and workspace files
.jupyter/
.lab/workspaces/

# Ignore data files
*.pkl
*.csv
*.tsv
*.xls*
*.json
*.h5
*.parquet

# Ignore environment and dependency files
*.env
.venv/
*.lock
Pipfile
Pipfile.lock

# OS-specific files
# macOS
.DS_Store
.AppleDouble
.LSOverride
.idea/

# Windows
Thumbs.db
Desktop.ini

# Linux
*.swp
*.swo
.*.swp
.fuse_hidden*
.nfs*

# General temporary and backup files
*.bak
*.tmp
~$*
